# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# vim
.*.sw[a-p]

# IntelliJ
*.iml
.idea
!.idea/icon.svg

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

build-data/dev-imports.txt
run

foldenor-api/build.gradle.kts
foldenor-server/build.gradle.kts
foldenor-server/src/minecraft

folia-api
folia-server

paper-api
paper-server
/foldenor-server/logs
/logs
