# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/folia-server/build.gradle.kts
/folia-server/src/minecraft
/foldenor-server/build.gradle.kts
/foldenor-server/src/minecraft
/paper-server
/folia-api/build.gradle.kts
/foldenor-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/